@model Home
@{
    ViewData["Title"] = "Home review";
}
<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col col-md-12">
        <form method="post">
            <div class="form-group">
                <input asp-for="@Model.AreaId" class="form-control" type="hidden" value="@Model.AreaId" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.HomeType">Home type</label>
                <select asp-for="@Model.HomeType" class="custom-select mr-sm-2"
                        asp-items="Html.GetEnumSelectList<HomeType>()">
                    <option value="">Select</option>
                </select>
                <span asp-validation-for="@Model.HomeType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Price">Price</label>
                <input asp-for="@Model.Price" class="form-control"/>
                <span asp-validation-for="@Model.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Adress">Adress</label>
                <textarea class="form-control z-depth-1" asp-for="@Model.Adress" rows="3" placeholder="Write the adress in the form City, Street, Street number to make it available in google maps"></textarea>
                <span asp-validation-for="@Model.Adress" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-5">
                    <label asp-for="@Model.Latitude">Latitude</label>
                    <input id="Latitude" asp-for="@Model.Latitude" class="form-control" type="text" />
                </div>
                <div class="col-5">
                    <label asp-for="@Model.Longitude">Longitude</label>
                    <input id="Longitude" asp-for="@Model.Longitude" class="form-control" type="text" />
                </div>
                <div class="col-2 d-flex text-center">
                    <button type="button" id="getLocation">Get location</button>
                </div>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="@Model.Review">Review</label>
                    <textarea class="form-control z-depth-1" asp-for="@Model.Review" rows="3" placeholder="Write a short review"></textarea>
                    <span asp-validation-for="@Model.Review" class="text-danger"></span>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Create home and grade</button>
        </form>
    </div>
</div>
<div class="text-center"><a class="btn btn-secondary" asp-controller="Area" asp-action="Index">Cancel</a></div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}